body {
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  color: #4d2323;
  min-width: 320px;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}
.header {
  background-color: rgba(80, 107, 62, 1);
  display: block;
}
.main {
  border: 1px solid green;
}
.footer {
  background-color: rgba(80, 107, 62, 1);
    padding: 20px;
}
.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  color: #fff;
}
.rss {
  width: 121px;
  height: 45px;
  background-image: url(./assets/svg/rss.svg);
  background-size: contain;
  background-repeat: no-repeat;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
  min-height: 50px
  
}
.nav-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}
.nav-link {
  position: relative;
    padding: 0 12px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 300;
    line-height: 50px;
    color: #fff;
  }
html {
  scroll-behavior: smooth; 
}
.main-container {
  display: flex;
  flex-wrap: wrap;
}

.section {
  width: 50%;
}
.section-profile {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 50px 30px 35px;
  border-bottom: 15px solid #d7d1c9;
}

.section-profile-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  text-transform: uppercase;
}
@media (max-width: 768px) {
  .section {
    width: 100%;
  }
}
@media (max-width: 1440px){
.container {
    padding: 0 20px;
}
}
.section-title {
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: #829985;
}
.link {
  text-decoration: none;
  color: #829985;
  transition: color 0.5s;
}

.link:hover {
  color: #5d7260;
}
.section-item {
  position: relative;
  padding-left: 30px;
}

.section-item::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 0px;
  width: 10px;
  height: 10px; 
  border: 1px solid #829985;
  border-radius: 50%;
}
.pre {
  padding: 0;
  margin: 0;}
  